@{
    ViewData["Title"] = "Contact";
}

<div class="container body-content">
    <h1>@ViewData["Title"]</h1>
    <address>
        Ste. Genevieve, MO 63670<br />
        <abbr title="Phone">P:</abbr>
        573.535.9735
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:hawkwingforge@gmail.com">hawkwingforge@gmail.com</a><br />
    </address>
</div>