@{
    ViewData["Title"] = "Contact";
}

<div class="container body-content">
    <h1>@ViewData["Title"]</h1>
    <address>
        TBD<br />
        Ste. Genevieve, MO 63670<br />
        <abbr title="Phone">P:</abbr>
        555.555.5555
    </address>

    <address>
        <strong>Sales:</strong> <a href="mailto:evan@miller.com">evan@miller.com</a><br />
        <strong>Support:</strong><a href="mailto:leo.tanoue@outlook.com">leo.tanoue@outlook.com</a>
    </address>
</div>