<link rel="stylesheet" href="~/css/index.css" />
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div id="innerCarousel" class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/HomeBanner1.jpg" alt="" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/HomeBanner2.jpg" alt="" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/images/HomeBanner3.jpg" alt="" class="img-responsive" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <article id="indexContent">
            <h1>Hawk Wing Forge</h1>
            <p>Hawk wing forge is a business dedicated to providing quality hand forged knives. These knives can be seen as works of art, but also very functional. My mission is to create a blade that instills beauty to the beholder, but also continue a craft that is deep in our history. Forging is the means of shaping metal into a desired shape to meet a function. Here at hawk wing forge I continue this tradition using modern and historic methods to create the knives I envision.</p>
        </article>
    </div>
</div>