@{
    ViewData["Title"] = "Process";
}

<div class="container body-content">
    <h1>The Process</h1>
    <h4>Have a sneak peak on things I've been working, from the design stages to the final product.</h4>
</div>