@{
    ViewData["Title"] = "The Smith";
}


<div class="container body-content">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
        <div class="col-sm-3">
            <img src="~/images/HawkWingForge_11.jpg" class="img-responsive" />
        </div>
        <div class="col-sm-9">
            <h1>Evan Miller</h1>
            <p>My name is Evan Miller  and I have been smithing for 13 years. I became interested in this craft because of my love for the Lord of the Rings and Tolkien's love of fantasy and beauty. I also have been an avid outdoorsman, and have a love for trees and creatures that roam the earth. I have always been a believer in hard work, persistence, and perserverence. Almost everything I have done took these traits and more to become better and achieve my end goal. Whether it is smithing, obtaining a college degree, or competing in college track and field. These different pieces have led me to be the person I am now and to make the knives I create.</p>
        </div>
    </div>
</div>