@{
    ViewData["Title"] = "The Smith";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-3">
        <img src="~/images/HawkWingForge_Miller.jpg" class="img-responsive" />
    </div>
    <div class="col-sm-9">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et sem nisi. Nunc dictum efficitur arcu ut condimentum. Cras id vehicula metus, id ullamcorper metus. Suspendisse potenti. Nunc sed lacinia lectus. Nullam tincidunt convallis ullamcorper. Sed ornare, est a gravida condimentum, sapien urna scelerisque ipsum, id viverra eros tellus nec augue. Morbi aliquam dolor id feugiat porta. Fusce rhoncus semper quam, ultricies aliquam mi placerat vitae. Aenean sed laoreet est. Nunc mattis condimentum faucibus. Cras egestas convallis nulla, nec commodo nulla hendrerit sit amet. Cras aliquet turpis a lobortis mollis. Aliquam sollicitudin risus quis leo auctor consequat.</p>

        <p>Ut sed aliquet justo. Sed ultricies mauris vitae risus tincidunt scelerisque. Nam mattis, arcu in eleifend ornare, tellus tellus tincidunt lorem, condimentum porta massa lectus eget mi. Integer eu purus quis mauris rhoncus suscipit. Mauris nisl tellus, lobortis ac aliquet non, pellentesque vel justo. Donec cursus bibendum luctus. Sed placerat volutpat dolor consequat aliquet. Aenean pretium, arcu ut auctor mollis, turpis orci consectetur est, et ullamcorper dolor nisi et diam. Vivamus nec laoreet tellus, sed blandit est. Ut lacinia purus purus. Maecenas pulvinar molestie tincidunt. Suspendisse fringilla lorem sapien, quis tincidunt metus porttitor a. Duis posuere non velit eget sollicitudin. Sed vitae arcu dui.</p>

        <p>Nullam aliquet aliquam convallis. Curabitur consequat mauris ut sollicitudin faucibus. Ut sit amet ultricies est, a rhoncus tortor. Morbi lacus quam, porta pretium interdum quis, ultricies non enim. Praesent dapibus diam et ipsum porttitor, ac aliquet tellus convallis. Donec sed malesuada orci. Aliquam erat volutpat. Ut maximus ligula sed augue blandit, eget scelerisque quam vulputate. Donec et est volutpat, vehicula ligula vitae, consequat sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce massa nunc, tempor non consequat ut, faucibus eu quam. Nunc sapien dui, gravida ac ante nec, congue facilisis mi. Donec et.</p>
    </div>
</div>
